.comments-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 29px;
  }
  
/* 각 댓글 아이템 */
.comment-item {
    display: flex;
    gap: 18px;
    padding: 7px 18px;
    align-items: flex-start;
    box-shadow: 0 1px 4px rgba(160, 196, 255, 0.08);
    border-bottom: 1px solid #ececec;
}

/* 댓글 본문 */
.comment-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* 댓글 내용 */
.comment-content {
    font-size: 0.98rem;
    color: #444;
    line-height: 1.5;
    margin-bottom: 4px;
}

/* 책 제목 */
.comment-title {
    font-size: 0.93rem;
    color: #8b8b8b;
    margin-bottom: 4px;
}

/* 날짜 및 버튼 영역 */
.comment-meta {
    align-items: center;
    flex-wrap: wrap;
    display: inline-flex;
    font-size: 0.9rem;
    color: #888;
}

.comment-nickname {
    font-size: 0.93rem;
    color: #727272;
    font-weight: 500;
}

.comment-date {
    font-size: 0.9rem;
    color: #888;
    padding-right: 15px;
    border-right: 1px solid #e0e0e0;
}

/* 수정/신고 버튼 */
    .comment-btn {
    padding: 3px 4px;
    cursor: pointer;
    color: #a0a0a0;
    background: none;
    border: none;
}

.comment-btn-container {
    padding: 3px 10px;
    display: flex;
    gap: 10px;
}

.comment-like {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.5px;
    user-select: none;
    padding-left: 10px;
    border-left: 1px solid #e0e0e0;
}
