@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

.header-container {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0;
  position: relative;
  width: 100%;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.header-logo-search-user {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 16px 30px 8px 30px;
}

.logo {
  display: inline-flex;
  width: fit-content;
}

.book-search-form {
  width: 260px;
  margin-right: 8px;
  display: flex;
  align-items: flex-start;
}

.book-search-input-wrap-1 {
  flex: 1;
  box-sizing: border-box;
  min-width: 0;
}

.book-search-input-wrap-2 {
  box-sizing: border-box;
}

.book-search-label {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
}

.search-icon {
  margin-right: 12px;
  opacity: 1;
  flex: none;
  vertical-align: middle;
}

.book-search-span {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.book-search-input {
  flex: 1;
  width: 0;
  min-width: 0;
  height: 100%;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.01rem;
  color: #444;
}

.user-link {
  display: flex;
  align-items: center;
  position: relative;
}

.user-link-list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.user-link-item {
  display: inline-flex;
  margin: 0 14px;
  width: 70px;
  align-items: center;
  justify-content: center;
}

.last-item {
  margin-right: 0;
}

.user-link-item a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.header-contents-etc {
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}

.header-link-list {
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.01rem;
  white-space: nowrap;
  scrollbar-width: none;
}

.header-link-list .nav-link {
  display: flex;
  align-items: center;
  padding: 17px 16px;
}

.header-link-list .first-link {
  padding-left: 0;
}

.nav-link.active {
  color: #69a3ff;
}

.header-etc-link-list {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.header-etc-link-list a {
  display: inline-flex;
  align-items: center;
  margin: 12px 0px 12px 24px;
}

.header-etc-link-list span {
  letter-spacing: -0.02em;
}

.creator-header-space {
  height: 40px;
}

