.mypage-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: none;
  display: flex;
  gap: 40px;
  min-height: 600px;
  align-items: flex-start;
}
.mypage-main {
  flex: 1 1 0;
  min-width: 0;
  margin-top: 1em;
}

.mypage-books-container {
  max-width: 792px;
  background: #fff;
  border-radius: 12px;
}

.mypage-books-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.mypage-books-sort-btn-container {
    display: flex;
    gap: 12px;
    padding-left: 8px;
    margin-bottom: 16px;
    justify-content: baseline;
    align-items: center;
}

.mypage-books-select-type {
  display: flex;
  gap: 14px;
  color: #444;
  font-size: 0.98rem;
}

.mypage-books-select-sort {
  display: flex;
  gap: 12px;
  font-size: 0.85em;
  margin-left: auto;
  padding-right: 8px;
}

.mypage-books-sort-btn-container button {
    background: #fff;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
}

.mypage-books-select-type button.active {
  font-weight: 500;
}

.mypage-books-select-type button:not(.active) {
  color: #b4b4b4;
}

.mypage-books-select-sort button.active {
    color: #444;
    font-weight: 500;
}

.mypage-books-select-sort button:not(.active) {
    color: #b4b4b4;
}

.mypage-book-section {
    margin-top: 13px;
    margin-bottom: 36px;
}

.mypage-books-search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 330px;
  margin: 12px 0 0 0;
}

.mypage-books-search-input {
  flex: 1;
  padding: 8px 8px 6px 8px;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  background: none;
  color: #222;
}

.mypage-books-search-btn {
  background: none;
  border: none;
  padding: 0 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 32px;
}
.mypage-books-search-btn svg {
  display: block;
}




